
  <h1>Frete </h1>


  Cep: <%= params[:zipcode] %><p>
  Cidade: <%= params[:address]["city"] %><p>
  Estado: <%= params[:address]["state"] %><p>
  Bairro: <%= params[:address]["district"] %><p>
  Endereço: <%= params[:address]["address"] %><p>
  FRETE: <%= params[:zipcode]["sedex"] %><p>







<%= link_to "Voltar", root_path%>
