<%= @power_generators.name %><p>
<%= @power_generators.description %><p>


<tbody>
        <tr>
          <th>Fabricante :</th><td><%= @power_generators.manufacturer %></td><p>
          <th>Material :</th><td><%= @power_generators.structure_type.capitalize %></td><p>
          <th>Peso :</th><td><%= @power_generators.weight %></td><p>
          <th>KwP :</th><td><%= @power_generators.kwp %></td><p>
          <th>Altura</th><td><%= @power_generators.height %></td><p>
          <th>Largura</th><td><%= @power_generators.width %></td><p>
          <th>Comprimento</th><td><%= @power_generators.lenght %></td><p>
        </tr>
</tbody>
<%= image_tag @power_generators.image_url, class: 'img_description' %><br><br>


<div>
      <%= form_tag(new_freight_path, method: :get) do %>
        <label style="margin-top:10px"> CEP: </label>
        <%= text_field_tag :zipcode, params[:zipcode], class: "text-frete", placeholder: "00000-000", maxlength: "9" %>
        <%= hidden_field_tag :id, @power_generators.id %>
        <%= button_to 'Calcular', new_freight_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-warning btn-circle' } %><br>
      <% end %>   
    </div>
  </div><br>
  
      <%= link_to "Voltar", root_path %>
   